{{! Twitter }}
<a class="clean-a" href="https://twitter.com/intent/tweet?text={{encode title}}&amp;url={{url absolute=" true "}}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
<svg class="twitter hide share-link" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 20 20"><path d="M10 0.4c-5.3 0-9.6 4.3-9.6 9.6s4.3 9.6 9.6 9.6 9.6-4.3 9.6-9.6-4.3-9.6-9.6-9.6zM13.9 8.3c0 0.1 0 0.2 0 0.2 0 2.5-1.9 5.4-5.4 5.4-1.1 0-2.1-0.3-2.9-0.8 0.1 0 0.3 0 0.5 0 0.9 0 1.7-0.3 2.3-0.8-0.8 0-1.5-0.6-1.8-1.3 0.1 0 0.2 0 0.4 0 0.2 0 0.3 0 0.5-0.1-0.9-0.2-1.5-0.9-1.5-1.9v0c0.3 0.1 0.5 0.2 0.9 0.2-0.5-0.3-0.8-0.9-0.8-1.6 0-0.3 0.1-0.7 0.3-1 0.9 1.1 2.3 1.9 3.9 2 0-0.1 0-0.3 0-0.4 0-1 0.8-1.9 1.9-1.9 0.5 0 1 0.2 1.4 0.6 0.4-0.1 0.8-0.2 1.2-0.5-0.1 0.4-0.4 0.8-0.8 1 0.4 0 0.7-0.1 1.1-0.3-0.3 0.4-0.6 0.7-0.9 1z"/></svg>
<span class="share-span hide">Twitter</span>
</a>

{{! Facebook }}
<a class="clean-a" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute=" true "}}" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
<svg class="facebook hide share-link" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 20 20"><path d="M10 0.4c-5.3 0-9.6 4.3-9.6 9.6s4.3 9.6 9.6 9.6 9.6-4.3 9.6-9.6-4.3-9.6-9.6-9.6zM12.3 7h-1.4c-0.2 0-0.4 0.2-0.4 0.5v1h1.8l-0.3 1.5h-1.5v4.5h-1.7v-4.5h-1.5v-1.5h1.5v-0.9c0-1.3 0.9-2.3 2.1-2.3h1.4v1.6z"/></svg>
<span class="share-span hide">Facebook</span>
</a>

{{! Google+ }}
<a class="clean-a" href="https://plus.google.com/share?url={{url absolute=" true "}}" onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
<svg class="google hide share-link" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 20 20"><path d="M10 0.4c-5.3 0-9.6 4.3-9.6 9.6s4.3 9.6 9.6 9.6 9.6-4.3 9.6-9.6-4.3-9.6-9.6-9.6zM9.4 14.1c-0.6 0.3-1.3 0.3-1.5 0.3 0 0-0.1 0-0.1 0s0 0-0.1 0c-0.4 0-2.3-0.1-2.3-1.9 0-1.7 2.1-1.9 2.8-1.9h0c-0.4-0.5-0.3-1-0.3-1 0 0-0.1 0-0.1 0-0.2 0-0.7 0-1.1-0.3-0.5-0.3-0.7-0.9-0.7-1.6 0-2.1 2.3-2.2 2.4-2.2h2.3v0.1c0 0.3-0.5 0.3-0.8 0.4-0.1 0-0.3 0-0.4 0.1 0.6 0.3 0.7 0.8 0.7 1.5 0 0.8-0.3 1.3-0.7 1.6-0.2 0.2-0.4 0.3-0.4 0.5 0 0.2 0.2 0.4 0.5 0.6 0.4 0.4 1 0.9 1 1.8 0 0.9-0.4 1.6-1.2 2zM14.5 10h-1.5v1.5h-1v-1.5h-1.5v-1h1.5v-1.5h1v1.5h1.5v1zM8.2 11.2c-0.1 0-0.1 0-0.2 0-0.4 0-0.9 0.2-1.1 0.5-0.3 0.3-0.4 0.6-0.4 0.9 0 0.7 0.8 1.1 1.7 1.1 0.9-0.1 1.5-0.6 1.5-1.3 0-0.7-0.6-1.2-1.5-1.2zM9.1 7.3c-0.2-0.8-0.6-1.1-1.2-1.1-0.1 0-0.1 0-0.2 0-0.3 0.1-0.5 0.3-0.6 0.6-0.1 0.3-0.1 0.7 0 1.1 0.2 0.7 0.7 1.2 1.2 1.2 0.1 0 0.1 0 0.2 0 0.5-0.2 0.9-1 0.7-1.8z"/></svg>
<span class="share-span hide">Google+</span>
</a>